.Card {
    width: 145px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    margin-left: -100px;
    background: lightgray;
    position: relative;
}

.CardImageHide {
    display: inline-block;
    width: 100%;
    margin-top: -50%;
    top: 100px;
    position: relative;
}

.CardImageShow {
    display: inline-block;
    height: 200px;
    position: relative;
}